.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.tribe-events .tribe-events-calendar-list__month-separator {
    background-color: #c0c0c0;
    font-size: 20px;
    display: block;
    margin: 1em 0;
    padding: 6px 10px;
}

.tribe-common .tribe-common-h6--min-medium {
    font-size: 20px !important;
    font-weight: 700;
    text-transform: uppercase;
}

.tribe-events .tribe-events-calendar-list__month-separator:after {
    background: none;
}

#tribe-events-pg-template {
    max-width: 1400px;
}

.tribe-events-single {
    border-top: 10px #c00000 solid;
    background-color: white;
    padding: 3% 5%;
    margin: 3% 8.3333%;
}
.tribe-events-single {
    .tribe-events-c-subscribe-dropdown {
        margin: 0;
    }
    .tribe-events-c-subscribe-dropdown__button {
        width: 300px;
    }

    .tribe-events-schedule-wrapper {
        display: flex;
        margin-top: 20px;
    }

    .tribe-events-schedule {
        width: 50%;
        float: left;
        align-items: center;
    }

    .tribe-events-schedule h2 {
        font-size: 26px;
        font-weight: bold;
    }

    .hentry {
        padding-top: 0;
        margin: 0;
        box-shadow: none;
    }
    
    .tribe-events-event-meta.tribe-events-single-section {
        background: #e5e5e5;
        margin: 30px 0;
        border: 1px solid #eee;
        width: 100%;

        .tribe-events-meta-group-details {
            margin: 20px 0 0;
            padding: 0 4%;

            .tribe-events-single-section-title {
                font-size: 1.4em;
                font-weight: 700;
            }
        }

        .tribe-events-meta-group-venue {
            margin: 20px 0 0;
            padding: 0 4%;

            .tribe-events-single-section-title {
                font-size: 1.4em;
                font-weight: 700;
            }
        }
    }
    
    .tribe-events-event-meta::before {
        border-top: none;
    }
    
    #tribe-events-footer {
        border-top: none;
    }

}

.overlay {
    .tribe-common-c-btn {
        width: auto !important;
    }
}

.tribe-events .tribe-events-calendar-list__event-row {
    border-top: 10px #c00000 solid;
    margin: 0.75em 1em !important;
    background-color: white;
    .tribe-events-calendar-list__event-wrapper {
        padding-left: 24px !important;
    }
}


.tribe-events .tribe-events-calendar-list__event {
    margin-right: 2em !important;
    box-shadow: none;
    padding: 0.75em 0 0.75em 8px;
    flex-direction: row !important;
    justify-content: left !important;
    align-content: center;
    min-height: 103px;
    row-gap: 15px;
    padding-left: calc(var(--tec-grid-gutter-small-half) + 8px);
    .tribe-events-calendar-list__event-details {
        padding-left: 0 !important;
    }

}

.tribe-events .tribe-events-calendar-list__event-row.weekend {
    border-top-color: #398C42;
}

.tribe-events .tribe-events-calendar-list__event-datetime-wrapper {
    display: inline;
    margin-right: 1em;
}

.tribe-events .tribe-events-calendar-list__event-venue {
    display: inline;
}

.tribe-events .tribe-events-calendar-list__event-date-tag {
    border-right: 2px var(--tec-color-text-secondary) solid;
    min-width: 90px;
}

.tribe-events .tribe-events-calendar-list__event-date-tag-weekday {
    font-size: 20px;
    padding-top: 5px;
}

.tribe-events .tribe-events-calendar-list__event-date-tag-daynum {
    font-size: 35px !important;
    margin-top: 5px;
}

.teilnahme {
    display: flex;
    flex-basis: 35%;
    justify-content: space-evenly;
    align-items: center;
    mvsu-registration div, mvsu-registration {
        flex: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        height: 100%;
    }
}

.participation_buttons, .cancel_buttons {
    min-width: 130px;
    button {
        width: auto !important;
    }
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
}

.hoverpopup {position:absolute;z-index:200;padding: 3px;margin-left: 10px;margin-top: 5px;width:400px;background-color: #c0c0c0;color: black;font-size: 0.95em;border-radius:3px;text-align:left}
.tribe-common .tribe-common-c-btn.close-button {
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    background: #c32e04;
    color: white;
    border-radius: unset;
    border-top-right-radius: 8px;
}.tribe-common .tribe-common-c-btn.close-button:hover {
    border-radius: unset;
    border-top-right-radius: 8px;
}
.tribe-common .tribe-common-c-btn.cancel-button {margin-top:10px}
.tribe-common textarea.reason_area {
    resize: horizontal;
}

mvsu-registration div {
    text-align: center;
}
.cdk-global-scrollblock {
    position: initial;
    width: initial;
    overflow: hidden;
    scrollbar-gutter: stable;
}

.tribe-events-schedule-wrapper {
    flex-wrap: wrap;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__day {
    border-width: 1px;
    border-color: #444444;
    background-color: whitesmoke;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__calendar-event {
    border-top: 5px #c00000 solid;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__calendar-event.weekend {
    border-top-color: #398C42;
}

.tribe-events-calendar-month__calendar-event-tooltip .teilnahme {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
